{require_otp_vsn, "R13B04|R14"}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
       {gen_bunny, ".*", {git, "http://github.com/dreid/gen_bunny.git", ""}}
       {jsx, "0.9.0", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
       %{ex_uri, "*", {git, "https://github.com/extend/ex_uri.git", {branch, "master"}}},
       %{ossp_uuid, "1", {git, "https://github.com/yrashk/erlang-ossp-uuid.git", {branch, "master"}}},
       {misultin, "0.8-dev", {git, "https://github.com/ostinelli/misultin.git", {branch, "master"}}}
       ]}.

